* {
  margin: 0;
  padding: 0;
}

header div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  background-color: #82368c;
  width: 100%;
  height: 7vh;
}

header div div {
  grid-column: 0 / 1;
  margin-left: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
}

header div div input {
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px;
}

header div div button {
  border: 0;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
}

header div div button img {
  width: 25px;
}

header div section {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}

header div section form input {
  border: 0;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
}

header #section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  height: 15vh;
}

header #section1 #logo {
  width: 450px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 15vh;
}

header #section1 .menu {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 940px;
  height: 15vh;
}

header #section1 .menu ul {
  display: block;
  list-style: none;
  margin-top: 45px;
  margin-left: 150px;
}

header #section1 .menu ul li {
  float: left;
}

header #section1 .menu ul li a:hover {
  color: #82368c;
}

header #section1 .menu ul a {
  font-family: "comfortaa";
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 5px;
}

header #section1 button {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  height: 5vh;
  background-color: white;
  border: 1;
  width: 70px;
  border-color: #82368c;
  border-radius: 5px;
  margin-top: 33px;
  margin-left: 15px;
  font-family: "comfortaa";
}

header #section1 button:hover {
  background-color: #82368c;
}

#backlinkig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #8a97e1;
  width: 100%;
  height: 5vh;
}

#backlinkig div a {
  text-decoration: none;
}

#backlinkig div a p {
  margin-top: 7px;
  color: white;
  font-family: "comfortaa";
}

#CatPrin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#CatPrin h2 {
  font-family: "comfortaa";
  text-align: center;
  background-color: #8a97e1;
  color: white;
  height: 7vh;
}

#CatPrin h2 p {
  margin-top: 7px;
}

#CatPrin nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#CatPrin nav a {
  text-decoration: none;
  font-family: "comfortaa";
  color: black;
  width: 100%;
  height: 5vh;
}

#CatPrin nav a p {
  margin-top: 7px;
  text-align: center;
}

#CatPrin nav a:hover {
  background-color: #82368c;
  color: white;
}

#Ofertas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Ofertas h1 {
  font-family: "comfortaa";
  text-align: center;
  background-color: #8a97e1;
  color: white;
  height: 7vh;
}

.grid {
  display: -ms-grid;
  display: grid;
  margin-left: 150px;
  -ms-grid-columns: [x0] 1fr [x1] 0.75fr [x2] 0.75fr [x3] 1fr;
      grid-template-columns: [x0] 1fr [x1] 0.75fr [x2] 0.75fr [x3] 1fr;
  -ms-grid-rows: [y0] 1fr [y1] 1fr;
      grid-template-rows: [y0] 1fr [y1] 1fr;
  width: 80%;
}

.item1 {
  grid-column: x0;
  grid-row: y0;
  background-image: url(images/of2.jpg);
  background-size: cover;
}

.item2 {
  grid-column: x0;
  grid-row: y1;
  background-image: url(images/of3.jpg);
  background-size: cover;
}

.item3 {
  -ms-grid-column: x1;
      grid-column-start: x1;
  grid-column-end: x3;
  grid-row: y0 / y2;
  height: 500px;
  background-image: url(images/of1.jpg);
  background-size: cover;
}

.item4 {
  grid-column: x3;
  grid-row: y0;
  background-image: url(images/of3.jpg);
  background-size: cover;
}

.item5 {
  grid-column: x3;
  grid-row: y1;
  background-image: url(images/of2.jpg);
  background-size: cover;
}

.ig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50vh;
}

.ig div {
  font-family: "comfortaa";
  color: white;
  background-color: #8a97e1;
  height: 7vh;
  width: 100%;
  text-align: center;
}

.ig div h3 {
  margin: 7px;
}

.ig nav {
  width: 100%;
  height: 80vh;
  background-color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ig nav img {
  width: 350px;
  height: auto;
  margin-left: 80px;
  margin-bottom: 100px;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.ig nav img:hover {
  width: 500px;
  height: 450px;
  position: relative;
}

.opacidad {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: opacidad;
          animation-name: opacidad;
}

@-webkit-keyframes opacidad {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacidad {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 100%;
  margin-top: 130px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  background-color: #8a97e1;
}

footer .Footer1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

footer .Footer1 p {
  margin-top: 40px;
}

footer .Footer1 div {
  margin-left: 70px;
}

footer .Footer1 div a img {
  width: 35px;
  margin-left: 25px;
  margin-top: 30px;
}

footer .Footer2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

footer .Footer2 h4 {
  font-family: "comfortaa";
  text-align: center;
  margin-top: 20px;
}

footer .Footer2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 325px;
  width: 150px;
}

footer .Footer2 form input {
  border: 0;
  border-radius: 5px;
  margin-top: 5px;
}
/*# sourceMappingURL=estilo.css.map */